
<h1>REQUIREMENT API LIST :-</h1>
        <h2>1:To add a new req : </h2>
            <h4><pre>Method:POST           Url:master/req/add</pre></h4>
<h4><pre>Argument: {data:{req_id : req_id,
        name : name,
        description : description,
        priority : priority,
        module : [
            value
        ],
        artifacts : [
            {
                name :  value,
                link :  value
            }
        ],
        project : [
            {
                project_id :  project_id,
                name :  name,
                project_contact_name :  project_contact_name,
                project_contact :  project_contact
            }
        ],
        associated_req : [
            {
                name : name,
                req_id : req_id
            }
        ]
        },
        current_user:current_user}</pre></h4>
        <h2>2:To edit a req : </h2>
            <h4><pre>Method:POST           Url:master/req/edit</pre></h4>
<h4><pre>Argument: {data:{req_id : req_id,
        name : name,
        description : description,
        priority : priority,
        module : [
            value
        ],
        artifacts : [
            {
                name :  value,
                link :  value
            }
        ],
        project : [
            {
                project_id :  project_id,
                name :  name,
                project_contact_name :  project_contact_name,
                project_contact :  project_contact
            }
        ],
        associated_req : [
            {
                name : name,
                req_id : req_id
            }
        ]
        },
        current_user:current_user}</pre></h4>

        <h2>3:To get req all list or filtering list by partial search: </h2>
            <h4><pre>Method:POST           Url:master/req/list_search</pre></h4>
<h4><pre>Argument: {skip:0,limit:20} or
          {skip:0,limit:20,req_id :req_id} or
          {skip:0,limit:20,name : name} or
          {skip:0,limit:20,description : description} or
          {skip:0,limit:20,priority : priority}</pre></h4>
        <h2>4:To get req details by id : </h2>
              <h4>Method:POST              Url:master/req/get_detail</pre></h4>
<h4><pre>Argument: {} or
          {req_id :req_id} or
          {name : name} or
          {description : description} or
          {priority : priority}</pre></h4>

        <h2>5:To delete a req by Id : </h2>
              <h4>Method:POST              Url:master/req/delete_by_id</pre></h4>
<h4><pre>Argument: {req_id :req_id} </pre></h4>
        <h2>6:Partially update of a proj data as on require field : </h2>
               <h4>Method:POST             Url:master/req/update_partially</pre></h4>
<h4><pre>Argument: {data:{req_id : req_id,
        name : name,
        description : description,
        priority : priority,
        module : [
            value
        ],
        artifacts : [
            {
                name :  value,
                link :  value
            }
        ],
        project : [
            {
                project_id :  project_id,
                name :  name,
                project_contact_name :  project_contact_name,
                project_contact :  project_contact
            }
        ],
        associated_req : [
            {
                name : name,
                req_id : req_id
            }
        ]
        },
           id : {proj_id :proj_id}                      *** required
    }</pre></h4>
<h2>7:To push a array req by Id : </h2>
<h4><pre>Method:POST           Url:master/req/push</pre></h4>
<h4><pre>Argument: {proj_id": x.proj_id,
            artifacts : [],
            project :[],
            associated_req : [],}</pre></h4>

<h2>NB:** to change selected field in user_security search configure in include_field.json</h2>
<h2>NB:** you have to send security token on header as token</h2>

<br><br><br><br><br>

