
<h1>USER SECURITY API LIST :-</h1>
        <h2>1:To add a new user_security : </h2>
            <h4><pre>Method:POST           Url:master/user_security/add</pre></h4>
<h4><pre>Argument: {"data":{"user_id" : "user_id",
            "email" : "email",
            "pwd" : "pwd",

                "status" : "status",
                "code" : "code",
                "completed" : "completed",
                "initiated_by" : "initiated_by"
            }}</pre></h4>
        <h2>2:To edit a user_security : </h2>
            <h4><pre>Method:POST           Url:master/user_security/edit</pre></h4>
<h4><pre>Argument: {"data":{"user_id" : "user_id",
            "email" : "email",
            "pwd" : "pwd",

                "status" : "status",
                "code" : "code",
                "completed" : "completed",
                "initiated_by" : "initiated_by"
            }}</pre></h4>

        <h2>3:To get user_security all list or filtering list by partial search: </h2>
            <h4><pre>Method:POST           Url:master/user_security/list_search</pre></h4>
<h4><pre>Argument: {skip:0,limit:20} or
          {skip:0,limit:20,user_id :user_id} or
          {skip:0,limit:20,email : email} or
          {skip:0,limit:20,status :status}</pre></h4>
        <h2>4:To get user_security details by id/email : </h2>
              <h4>Method:POST              Url:master/user_security/get_detail</pre></h4>
<h4><pre>Argument: {} or
          {user_id :user_id} or
          {email : email} or
          {status :status}</pre></h4>

        <h2>5:To delete a user_security by Id : </h2>
              <h4>Method:POST              Url:master/user_security/delete_by_id</pre></h4>
<h4><pre>Argument: {user_id :user_id} </pre></h4>
        <h2>6:Partially update of a user data as on require field : </h2>
               <h4>Method:POST             Url:master/user_security/update_partially</pre></h4>
<h4><pre>Argument: {data:{
                    user_id :user_id,                   * optional
                    email : email,                      * optional
                    pwd : pwd,                          * optional
                    verification : {
                        status : status,                * optional
                        code : code,                    * optional
                        completed : completed,          * optional
                        initiated_by: initiated_by      * optional
                    }},
           id : {user_id :user_id}                      *** required
    }</pre></h4>

<h2>NB:** to change selected field in user_security search configure in include_field.json</h2>
<h2>NB:** you have to send security token on header as token</h2>

<br><br><br><br><br>

