
<h1>USER API LIST :-</h1>
        <h2>1:To add a new user : </h2>
            <h4><pre>Method:POST           Url:master/user/add</pre></h4>
<h4><pre>Argument: {data:{
                user_id :user_id,
                name : name,
                role : role,
                email : email,
                contact_number : contact_number,
                photo : photo,
                status :status},
           current_user : current_user}</pre></h4>
        <h2>2:To edit a user : </h2>
            <h4><pre>Method:POST           Url:master/user/edit</pre></h4>
<h4><pre>Argument: {data:{
                user_id :user_id,
                name : name,
                role : role,
                email : email,
                contact_number : contact_number,
                photo : photo,
                status :status},
           current_user : current_user}</pre></h4>

        <h2>3:To get user all list or filtering list by partial search: </h2>
            <h4><pre>Method:POST           Url:master/user/list_search</pre></h4>
<h4><pre>Argument: {skip:0,limit:20} or
          {skip:0,limit:20,user_id :user_id} or
          {skip:0,limit:20,name : name} or
          {skip:0,limit:20,role : role} or
          {skip:0,limit:20,email : email} or
          {skip:0,limit:20,contact_number : contact_number} or
          {skip:0,limit:20,status :status}</pre></h4>
        <h2>4:To get user details by id/email : </h2>
              <h4>Method:POST              Url:master/user/get_detail</pre></h4>
<h4><pre>Argument: {user_id :user_id} or
          {email : email}</pre></h4>

        <h2>5:To delete a user by Id : </h2>
              <h4>Method:POST              Url:master/user/delete_by_id</pre></h4>
<h4><pre>Argument: {user_id :user_id} </pre></h4>
        <h2>6:Partially update of a user data as on require field : </h2>
               <h4>Method:POST             Url:master/user/update_partially</pre></h4>
<h4><pre>Argument: {data:{
                    user_id :user_id,                   * optional
                     name : name,                       * optional
                     role : role,                       * optional
                     email : email,                     * optional
                     contact_number : contact_number,   * optional
                     photo : photo,                     * optional
                     status :status},                   * optional
           id : {user_id :user_id}                      *** required
    }</pre></h4>

<h2>NB:** to change selected field in user search configure in include_field.json</h2>
<h2>NB:** you have to send security token on header as token</h2>

<br><br><br><br><br>

